* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

nav,
footer,
header {
    display: block;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    display: block;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
    max-width: 100%;
}

body {
    background-color: lightslategray;
    position: relative;
    font-size: 14px;
}

.wrapper {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: calc(100% - 5px);
    border-radius: 5px;
}

.editor {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    height: 70vh;
    background-color: coral;
}

.viewer {
    position: relative;
    width: 350px;
    height: 70vh;
    background-color: coral;
}

.tooltip {
    background-color: lightcyan;
    position: absolute;
    display: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
}

.bold {
    font-weight: 900;
    color: black;
}

.check-mark {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1.5);
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
}

.check-mark::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: white;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.check-mark.passed::after {
    border-color: greenyellow;
}

.check-mark.not-passed::after {
    border-color: palevioletred;
}

.button-prev {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1.2);
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
}

.button-prev::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(45deg);
    left: 6px;
    top: 4px;
}

.button-next {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1.2);
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
}

.button-next::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px;
}
